body{
    background-image: url("Background.jpg");
}

.ClickScore{
	margin-top: 40px;
	margin-left: 520px;
	padding-left: 70px;
	padding-right: 70px;
}

.HighScores{
	background-color: white;
	width: 400px;
	text-align: center;
	min-height: 300px;
	margin-top: 120px;
	margin-left: 400px;
	border-radius: 5px;
}